@import '~css/variables';

.auth-form__input-error {
  opacity: 0;
  transition: opacity 0.2s linear;
  color: $error-color;
  max-width: fit-content;
  font-weight: bolder;
  @include media('desktop') {
    font-size: 1.2rem;
    min-height: 4rem;
    margin: 0.8rem 0;
  }
  @include media('mobile') {
    font-size: 1.2rem * $mobile-factor;
    min-height: 4rem * $mobile-factor;
    margin: 0.8rem * $mobile-factor 0;
  }

  &_active {
    transition: opacity 0.2s linear;
    opacity: 1;
  }
}
