@import '~css/variables';

.auth-form__input-error {
  opacity: 0;
  transition: opacity 0.2s linear;
  color: $error-color;
  font-size: 1.2rem;
  max-width: fit-content;
  min-height: 4.0rem;
  margin: 0.8rem 0;
  font-weight: bolder;

  &_active {
    transition: opacity 0.2s linear;
    opacity: 1;
  }
}
