@import 'variables';

.auth-form__input-error {
  opacity: 0;
  transition: opacity 0.2s linear;
  color: $error-color;
  font-size: 0.8em;
  max-width: fit-content;
  min-height: 40px;
  margin: 8px 0;
  font-weight: bolder;

  &_active {
    transition: opacity 0.2s linear;
    opacity: 1;
  }
}
