@import '~css/mediaQueries';

.subscriptions {
  @include media('desktop') {
    margin-top: 3rem;
  }
  @include media('mobile') {
    margin-top: 3rem * $mobile-factor;
  }
}

.subscriptions-empty-msg {
  text-align: center;
  font-family: OpenSans-Light, sans-serif;
  @include media('desktop') {
    margin-top: 2rem;
    font-size: 2.5rem;
  }
  @include media('mobile') {
    margin-top: 2rem * $mobile-factor;
    font-size: 2rem * $mobile-factor;
  }

  &__link {

    &:hover {
      color: var(--main-color);
    }
  }
}
