.collection {
  position: relative;
  width: 100%;
  margin-bottom: 8rem;

  &__header {
    display: inline-block;
    padding: 0 2rem 1.3rem 8rem;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 3rem;
  }

  &__subscribe-button {
    @include gradientButton;
  }
}
