@import '~css/variables';
@import '~css/mixins';
@import '~css/mediaQueries';

.collection {
  position: relative;
  width: 100%;
  @include media('desktop') {
    margin-bottom: 8rem;
  }
  @include media('mobile') {
    margin-bottom: 6rem * $mobile-factor;
  }

  &__header {
    display: inline-block;
    font-family: Montserrat-Regular, sans-serif;
    @include media('desktop') {
      padding: 0 2rem 1.3rem $desktop-paragraph;
      font-size: 3rem;
    }
    @include media('mobile') {
      padding: 0 2rem 1.3rem * $mobile-factor * $mobile-factor $mobile-paragraph;
      font-size: 3rem * $mobile-factor;
    }
  }

  &__subscribe-button {
    @include gradientButton;

    &_err {
      background: {
        image: linear-gradient(to right, #ff6600, $error-color, #ff9933);
        size: 300% 100%;
      }
    }
  }

  &__show-all-button {
    cursor: pointer;
    text-decoration: underline;
    color: $path-color;
    font-family: OpenSans-Regular, sans-serif;
    @include media('desktop') {
      font-size: 1.7rem;
    }
    @include media('mobile') {
      font-size: 1.7rem * $mobile-factor;
    }
  }
}
