@font-face {
  font-family: 'Montserrat-Medium';
  src: url('/static/fonts/Montserrat/Montserrat-Medium.ttf')
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/static/fonts/Montserrat/Montserrat-Regular.ttf')
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('/static/fonts/Montserrat/Montserrat-Light.ttf')
}
