@import 'css/variables';

.filters-block {
  position: relative;
  margin-bottom: 40px;
  display: flex;
  overflow: hidden;
}

.filter-button {
  z-index: 2;
  cursor: pointer;
  margin-right: 30px;
  width: 250px;
  height: $filter-button-height;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid $path-color;
  border-radius: 15px;
  font-size: 16px;

  &:hover {
    border-color: $main-color;
  }

  &:hover &__arrow {
  }

  &_active {
    border-color: $main-color;
  }

  &__filter-value {
    padding-right: 30px;
  }

  &__arrow {
    background-image: url(/static/img/down-arrow.svg);
    transition: transform $menu-transition-time;
    @include square($size: 20px);
    @include center-background;
  }

  &__arrow_active {
    transform: rotateZ(180deg);
  }
}

.filter-submenu {
  position: absolute;
  left: 0;
  top: $filter-button-height + 12px;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $submenu-bg-color;
  font-size: 22px;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  @include submenu;

  &_active {
    visibility: visible;
    opacity: 1;
  }

  &__item {

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    &_active {
      color: $main-color;
    }
  }
}
