@import '~css/mixins';
@import '~css/mediaQueries';

.write-review-block {
  border-top: 1px solid $text-dark-color;
  @include media('desktop') {
    margin-bottom: 2rem;
  }
  @include media('mobile') {
    margin-bottom: 2rem * $mobile-factor;
  }

  &__avatar {
    flex-shrink: 0;
    @include media('desktop') {
      @include avatar($size: 7rem);
    }
    @include media('mobile') {
      @include avatar($size: 7rem * $mobile-factor);
    }
  }
}

.review-form {
  width: 100%;

  &__rate {
    display: flex;
  }

  &__star {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    color: $text-dark-color;
  }

  &__star-icon {
    padding-right: 0.5rem;

    & > svg {
      transition: fill 0.2s ease-in-out;
      @include media('desktop') {
        width: 2.7rem;
        height: 2.5rem;
      }
      @include media('mobile') {
        width: 2.7rem * 1.2;
        height: 2.5rem * 1.2;
      }
    }

    &_active > svg {
      fill: $star-color-bright;
    }
  }

  &__star-value {
    cursor: default;
    display: none;
  }

  &__input {
    position: relative;
    margin-top: $padding-between-rows;
    margin-bottom: $padding-between-rows;
    width: 100%;
    display: block;
    border: 0;
    border-bottom: 2px solid var(--text-ref-color);
    background: none;
    font-family: inherit;
    color: var(--text-color);
    transition: border-bottom 0.15s ease-in-out;
    @include media('desktop') {
      font-size: 1.8rem;
    }
    @include media('mobile') {
      font-size: 1.8rem * $mobile-factor;
    }

    &::placeholder {
      color: $text-dark-color;
    }

    &:focus {
      border-bottom: 2px solid var(--main-color);
    }
  }

  &__error {
    opacity: 0;
    transition: opacity 0.2ms linear;
    margin-bottom: 1 * $padding-between-rows;
    color: $error-color;
    @include media('desktop') {
      font-size: 1.2rem;
    }
    @include media('mobile') {
      font-size: 1.2rem * $mobile-factor;
    }

    &_shown {
      opacity: 1;
    }
  }

  &__button {
    padding: 0.5em 1.5em;
    font-size: 1.8rem;
    @include gradientButton;
  }
}

.review-info__edit-button {
  margin-top: 2rem;
  min-height: 0;
  padding: 0.5em 0.7em;
  font-size: 1.6rem;
  @include gradientButton;
}
