@import 'css/variables';
@import 'css/mixins';

.no-reviews-message {
  padding: 3 * $padding-between-rows 0 6 * $padding-between-rows;
  border-top: 0.2px solid $text-dark-color;
  font-size: 20px;
  color: $path-color;
}