@import 'variables';

.button {
  background-color: $button-bg-color;
  border-radius: 8px;
  min-height: 44px;
  color: $bg-color;

  font: {
    weight: lighter;
    size: 1.25em;
  }

  &:hover {
    background: $button-bg-color-hover;
    transition: 0.5s;
  }
}
