@import 'variables';
@import 'mixins';

.auth-form {
  display: block;
  color: $text-color;
  @include input;

  &__label {
    font-family: inherit;
    font-weight: bolder;
    display: inline-block;
    margin-bottom: 4px;
  }

  &__button {
    width: 100%;
    box-sizing: border-box;
    @include gradientButton;
  }

  &__eye {
    position: absolute;
    right: 14px;
    top: 50%;
    margin-top: -11px;
    cursor: pointer;
  }

  &__input-error {
    @include inputError;
  }
}
