:root {
    --filter-button-border: lightgrey;
    --filter-button-border-hover: darkgrey;
    --series-link: black;
    --age-limit-color: white;
    --age-limit-background: rgba(0,0,0,.3);
}

.index-page {
    width: 60%;
    height: 100%;
    margin: auto;
}

.index-page__headline {
    font-size: xx-large;
    padding: 1em 15px;
}

.filters-block {
    display: flex;
    padding: 10px;
}

.filter-button {
    border: 2px solid var(--filter-button-border);
    border-radius: 3px;
    padding: 0.5em 1em;
    margin-right: 30px;
    cursor: pointer;
}

.filter-button:hover {
    border-color: var(--filter-button-border-hover);
}

.filter-button__filter-value {
    padding-right: 30px;
}

.filter-button__arrow {
    height: 10px;
}

.series-block {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    /*justify-content: center;*/
}

.series-card {
    margin: 10px auto 20px 10px;
    display: block;
    cursor: pointer;
}

.series-card__image {
    width: 250px;
    height: 375px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    position: relative;
    line-height: 20px;
}

.series-card__image_1 {
    background-image: url("/static/img/series1.jpeg");
}

.series-card__image_2 {
    background-image: url("/static/img/series2.jpg");
}

.series-card__image_3 {
    background-image: url("/static/img/series3.jpg");
}

.series-card__image_4 {
    background-image: url("/static/img/series4.jpg");
}

.series-card__name {
    font-size: large;
}

.series-card__age-limit {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: var(--age-limit-color);
    background-color: var(--age-limit-background);
    border-radius: 2px;
    font-size: 14px;
    text-align: center;
    height: 20px;
    width: 30px;
}
