@mixin square($size) {
  width: $size;
  height: $size;
}
@mixin center-position {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin gradientButton {
  border-radius: 8px;
  min-height: 44px;
  color: $bg-color;
  padding: 0 16px;
  transition: all 0.4s ease-in-out;

  background: {
    image: $button-bg-color-hover;
    size: 300% 100%;
  }

  font: {
    weight: lighter;
    size: 1.25em;
  }

  &:hover {
    background-position: 100% 0;
    transition: all 0.4s ease-in-out;
  }
}
@mixin transformScale($scaleValue: 1.25, $transitionValue: 0.2s) {
  transition: transform $transitionValue linear;

  &:hover {
    transform: scale($scaleValue);
    transition: transform $transitionValue linear;
  }
}
@mixin sliderArrow {
  position: absolute;
  top: 50%;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  cursor: pointer;
  z-index: 1;
  opacity: 0.4;
  @include transformScale;
}
