@import "variables";
@import "form";
@import "reset";
@import "../js/components/navbar/navbar";
@import "../js/views/indexView/indexView";
@import "../js/views/movieView/movieView";
@import "../js/views/profileView/profileView";
@import "../js/views/loginView/loginView";

body {
  width: 100vw;
  background-color: $bg-color;
}

#header {
  min-height: 50px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;
  box-shadow: 0 0 5px 10px $navbar-bg-color;
}

#container {
  height: 100%;
  width: 100%;
}

#footer {
  min-height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1000;
  background-color: $footer-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  box-shadow: 0 0 5px 10px $footer-bg-color;
}

a {
  text-decoration: none;
  color: $link-color;
}

input {
  border: 0;
}

button {
  border: 0;
}
