@import "variables";
@import "form";
@import "reset";
@import "mixins";
@import "../js/components/navbar/navbar";
@import "../js/views/indexView/indexView";
@import "../js/views/movieView/movieView";
@import "../js/views/profileView/profileView";
@import "../js/views/loginView/loginView";

body {
  background-color: $bg-color;
  color: $text-main-color;
  font-family: 'OpenSans-Regular', sans-serif;
}

#header {
  min-height: 60px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;
  box-shadow: 0 0 2px 2px $navbar-bg-color;
}

#container {
  height: 100%;
  width: 100%;
}

#footer {
  min-height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1000;
  background-color: $footer-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  box-shadow: 0 0 5px 10px $footer-bg-color;
}

.page-layout {
  padding-left: $paragraph;
  padding-right: $paragraph;
}

.avatar {
  border-radius: 50%;
  background: no-repeat center / cover;
}

.user-path {
  font-family: 'Montserrat-Regular', sans-serif;
  color: $path-color;
}

.user-path > * {
  display: inline;
}

.user-path__href {
  text-decoration: underline;
  color: $path-color;
}

a {
  text-decoration: none;
  color: $text-ref-color;
}

input {
  border: 0;
  font-family: inherit;
}

button {
  border: 0;
}

a:focus {
  outline: none;
}
