@import 'variables';
@import 'reset';
@import 'mixins';
@import 'mediaQueries';
@import '~components/navbarComponent/navbarComponent';
@import '~components/listComponent/listComponent';
@import '~components/reviewsComponent/reviewsComponent';
@import '~components/userReviewComponent/userReviewComponent';
@import '~components/swiperComponent/swiperComponent';
@import '~components/sliderComponent/sliderComponent';
@import '~components/inputComponent/inputComponent';
@import '~components/inputErrorComponent/inputErrorComponent';
@import '~components/cardComponent/cardComponent';
@import '~components/filterComponent/filterComponent';
@import '~components/formComponent/formComponent';
@import '~components/collectionComponent/collectionComponent';
@import '~components/profileSettingsComponent/profileSettingsComponent';
@import '~components/playlistComponent/playlistComponent';
@import '~components/tabComponent/tabComponent';
@import '~components/addToListComponent/addToListComponent';
@import '~components/subscriptionsComponent/subscriptionsComponent';
@import '~components/paginatorComponent/paginatorComponent';
@import '~views/listView/listView';
@import '~views/movieView/movieView';
@import '~views/profileView/profileView';
@import '~views/authView/authView';
@import '~views/personView/personView';
@import '~views/errorView/errorView';
@import '~views/searchView/searchView';
@import '~fonts/fonts';

body {
  position: relative;
  min-height: 100vh;
  background-color: $bg-color;
  color: $text-color;

  font: {
    family: 'Roboto', sans-serif;
    weight: 100;
    style: normal;
  }
}

#header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2000;
  @include media('desktop') {
    min-height: $navbar-height;
  }
  @include media('mobile') {
    min-height: $navbar-height * $mobile-factor;
  }
}

#container {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding-bottom: 6rem;
}

#footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0.4;
  @include media('desktop') {
    min-height: 6rem;
    font-size: 1.5rem;
  }
  @include media('mobile') {
    min-height: 6rem * $mobile-factor;
    font-size: 1.5rem * $mobile-factor;
  }
}

.page-layout {
  @include page-layout;
}

.user-path {
  font-family: Montserrat-Regular, sans-serif;
  color: $path-color;
}

.user-path > * {
  display: inline;
}

.user-path__href {
  text-decoration: underline;
  color: $path-color;
}

.hidden {
  opacity: 0;
  height: 0;
  width: 0;
  visibility: hidden;
}

a {
  text-decoration: none;
  color: $text-ref-color;
}

input {
  border: 0;
  font-family: inherit;
}

button {
  border: 0;
}

a:focus {
  outline: none;
}

.no-scroll-mobile {
  @include media('mobile') {
    overflow: hidden;
  }
}
