// Colors

:root {
  // Main
  --text-color: white;
  --bg-color: rgb(29, 32, 37);
  --main-color: #ced756;
  --text-ref-color: #eaeea9;
  --shade-color: rgba(0, 0, 0, 0.4);
  --path-color: #b5becb;
  --label-color: darkgrey;

  // Button
  --button-bg-color: linear-gradient(to right, #ced756, #eaeea9);
  --button-bg-color-hover: linear-gradient(to right, #ced756, #eaeea9, #abc959);
  --button-text-color: #1d2025;

  // Navbar
  --search-form-color: var(--text-color);
  --navbar-bg-color: rgba(0, 0, 0, 0.4);

  // Card
  --age-limit-color: var(--text-color);
  --card-content-color: #c6ceda;
  --series-card-shadow: 0 4px 4px var(--shade-color);
  --age-limit-background: var(--shade-color);
  --card-gradient: linear-gradient(to bottom, rgba(22, 25, 29, 0), #16191D);

  // Filter component
  --filter-button-border: var(--text-color);
  --submenu-bg-color: rgba(22, 24, 28, 0.95);
  --filter-submenu-item-color: var(--text-color);

  // Search
  --search-tab-bg-color: #25282F;

  // Movie
  --bg-shadow-color: linear-gradient(to bottom, rgba(29, 32, 37, 0), rgb(29, 32, 37));
  --bg-shadow-color-left: linear-gradient(to left, rgba(29, 32, 37, 0), rgb(29, 32, 37));

  // Form
  --auth-form-input-bg-color: rgb(10, 10, 10);
  --auth-content-border-color: rgb(86, 92, 103);
  --auth-content-bg-color: rgba(30, 31, 35, 0.7);

  // Switch
  --switch-width: 6.4rem;
  --switch-height: 3rem;
  --switch-padding: 3px;
}

[data-theme='light'] {
  // Main
  --text-color: black;
  --bg-color: white;
  --main-color: #0f4c81;
  --text-ref-color: #8091bd;
  --shade-color: rgba(220, 220, 220, 0.4);
  --path-color: #2d2f32;
  --label-color: #2d2f32;

  // Button
  --button-bg-color: linear-gradient(to right, #0f4c81, #8091bd);
  --button-bg-color-hover: linear-gradient(to right, #0f4c81, #8091bd, #55689a);
  --button-text-color: var(--bg-color);

  // Navbar
  --navbar-bg-color: var(--shade-color);

  // Card
  --card-gradient: linear-gradient(to bottom, rgba(220, 220, 220, 0), rgb(220, 220, 220));
  --card-content-color: var(--text-color);

  // Search
  --search-tab-bg-color: #dcdcdc;

  // Filter
  --submenu-bg-color: rgba(220, 220, 220, 0.9);
  --filter-submenu-item-color: var(--text-color);

  // Movie
  --bg-shadow-color: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  --bg-shadow-color-left: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 255, 255));

  // Form
  --auth-form-input-bg-color: rgb(255, 255, 255);
  --auth-content-border-color: rgb(0, 0, 0);
  --auth-content-bg-color: rgba(255, 255, 255, 0.7);
}

$text-dark-color: #646e80;
$error-color: rgb(255, 0, 0);
$error-ref-color: rgb(255, 122, 122);
$success-color: rgb(0, 208, 0);
$error-text-color: white;

// Auth page
$auth-form-error-margin: 2.4rem;
$auth-shade-color: rgba(0, 0, 0, 0.6);

// Navbar
$navbar-height: 6.5rem;
$margin-between-links: 3rem;
$search-form-border-radius: 40px;
$navbar-link-size: 20px;

// List page
$menu-transition-time: 0.15s;

// Card component
$padding-between-cards: 1.5rem;

// Filter component
$filter-button-height: 4rem;

// Movie page
$active-season-link-bg-color: var(--main-color);
$rate-bg-color: #8091bd;
$description-header-height: 5.5rem;
$padding-between-rows: 0.8rem;
$indent-between-description-data: 80px;
$margin-between-bg-content: -100px;
$gradient-height: 90vh;
$padding-between-description-blocks: 2.4rem;
$headline-size: 2.5rem;
$headline-margin: 1.5rem;
$review-padding-y: 2.6rem;
$review-padding-left: 1rem;
$add-to-list-button-border-radius: 1rem;
$buttons-block-width: 36rem;
$buttons-block-height: 5rem;
$choose-list-block-width: 38rem;
$choose-list-block-padding: ($choose-list-block-width - $buttons-block-width) / 2;

// Input
$input-left-padding: 2.1rem;
$input-top-padding: 1.6rem;
$input-min-height: 5.2rem;
$input-border: 0.8rem;

// List component
$list-right-gap: $padding-between-cards;
$list-bottom-gap: 4.5rem;

// Swiper component
$swiper-gap-between-elements: $padding-between-cards;

// User review component
$star-color-dark: #252C38;
$star-color-bright: #8091BD;

// Layout
$paragraph: 80px;
$mobile-paragraph: 4rem;
$desktop-paragraph: 8rem;
$mobile-factor: 1.5;

// Modal
$modal-content-border-color: rgb(86, 92, 103);
$modal-content-bg-color: rgba(30, 31, 35, 0.7);

// Switch
$switch-animation-duration: 0.2s;
