// Form
$form-bg-color: rgba(30, 31, 35, 0.7);
$form-border-color: rgb(86, 92, 103);
$form-text-color: white;
$form-input-bg-color: rgb(30, 31, 35);
$form-button-bg-color: rgb(55, 85, 139);
$form-button-bg-color-hover: rgb(25, 40, 64);
$form-input-focus-color: rgb(55, 85, 139);
$form-error-text-color: #c30000;
$form-error-margin: 24px;

// Auth page
$headline-text-color: white;
$no-account-href-color: rgb(55, 85, 139);
$no-account-text-color: white;

// Navbar
$navbar-bg-color: rgba(30, 31, 35, 0.3);
$navbar-link-color: white;
$search-form-color: white;

$filter-button-border: lightgrey;
$filter-button-border-hover: darkgrey;
$series-link: black;
$age-limit-color: white;
$age-limit-background: rgba(0,0,0,.3);

$bg-color: rgb(30, 31, 35);
$footer-bg-color: rgba(30, 31, 35, 0.3);

$link-color: black;

$gradient-from: rgba(30, 31, 35, 0);
$text-main-color: white;
$text-rel-color: darkgrey;
$paragraph: 60px;
$padding-between-rows: 8px;
$indent-between-description-data: 80px;
$margin-between-bg-content: -100px;
$gradient-height: 1000px;

$profile-info: #525258;
$series-list-navigation: #db4a3f;
$list-navigation-active-link: #BB3F35;
$list-navigation-link-hover: #B23D33;
$list-navigation-link-text: white;
$list-row-hover: #FCF1F0;
