// Form
$auth-form-input-bg-color: rgb(10, 10, 10);
$auth-form-input-focus-color: rgb(55, 85, 139);
$auth-button-bg-color: rgb(55, 85, 139);
$auth-button-bg-color-hover: rgb(25, 40, 64);

// Auth page
$no-account-href-color: rgb(55, 85, 139);
$auth-content-border-color: rgb(86, 92, 103);
$auth-content-bg-color: rgba(30, 31, 35, 0.7);
$auth-form-error-margin: 24px;

// Navbar
$navbar-bg-color: rgba(30, 31, 35, 0.5);
$search-form-color: white;

// Colors
$text-color: white;
$error-color: rgb(255, 0, 0);
$shade-color: rgba(0, 0, 0, 0.6);
$bg-color: rgb(30, 31, 35);
$footer-bg-color: rgba(30, 31, 35, 0.3);

$filter-button-border: lightgrey;
$filter-button-border-hover: darkgrey;
$series-link: black;
$age-limit-color: white;
$age-limit-background: rgba(0, 0, 0, 0.3);

$link-color: black;

$gradient-from: rgba(30, 31, 35, 0);
$text-main-color: white;
$text-rel-color: darkgrey;
$paragraph: 60px;
$padding-between-rows: 8px;
$indent-between-description-data: 80px;
$margin-between-bg-content: -100px;
$gradient-height: 1000px;

$profile-info: #525258;
$series-list-navigation: #db4a3f;
$list-navigation-active-link: #bb3f35;
$list-navigation-link-hover: #b23d33;
$list-navigation-link-text: white;
$list-row-hover: #fcf1f0;
