@import '~css/variables';
@import '~css/mixins';

.auth-form {
  display: block;
  color: $text-color;

  &__button {
    width: 100%;
    box-sizing: border-box;
    @include gradientButton;
  }

  &__eye {
    position: absolute;
    right: 1.4rem;
    top: 50%;
    margin-top: -1.1rem;
    cursor: pointer;

    &_hide {
      display: none;
    }
  }
}
