@import 'variables';
@import 'mixins';

.auth-form {
  display: block;
  color: $text-color;

  &__button {
    width: 100%;
    box-sizing: border-box;
    @include gradientButton;
  }

  &__eye {
    position: absolute;
    right: 14px;
    top: 50%;
    margin-top: -11px;
    cursor: pointer;

    &_hide {
      display: none;
    }
  }
}
