@import "../../../css/variables";

.navbar {
  display: flex;
  background-color: $navbar-bg-color;
  font-family: 'OpenSans-Regular', sans-serif;
  min-height: $navbar-height;
}

.navbar__left-side {
  display: flex;
  align-items: center;
  width: 50%;
  padding-right: 5%;
  box-sizing: border-box;
}

.navbar__right-side {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-end;
}

.navbar__logo {
  color: $navbar-link-color;
  font-size: 26px;
  font-family: 'OpenSans-Bold', sans-serif;
  text-transform: uppercase;
  margin-right: $margin-between-links;
}

.navbar__link {
  color: $navbar-link-color;
  font-size: 22px;
  margin: 0 $margin-between-links;
}

.navbar__search-form {
  display: flex;
  box-sizing: content-box;
  height: 2.5em;
}

.navbar__search-input {
  width: 350px;
  padding-left: 1em;
  border-top-left-radius: $search-form-border-radius;
  border-bottom-left-radius: $search-form-border-radius;
}

.navbar__search-button {
  width: 2.5em;
  background-color: $search-form-color;
  border-top-right-radius: $search-form-border-radius;
  border-bottom-right-radius: $search-form-border-radius;
}

.navbar__search-icon {
  height: 1.1em;
}
