@import '~css/variables';
@import '~css/mixins';
@import '~css/mediaQueries';

.add-to-list {
  font-family: OpenSans-Regular, sans-serif;
  @include media('desktop') {
    margin-bottom: 5rem;
  }
  @include media('mobile') {
    margin-bottom: 5rem * $mobile-factor;
  }
}

.add-to-list-block {
  padding-top: 3 * $padding-between-rows;
  border-top: 1px solid $text-dark-color;
  position: relative;
  @include media('desktop') {
    font-size: 2rem;
  }
  @include media('mobile') {
    font-size: 2rem * $mobile-factor;
  }

  &__buttons-block {
    display: flex;
    @include media('desktop') {
      width: $buttons-block-width;
      height: $buttons-block-height;
    }
    @include media('mobile') {
      width: $buttons-block-width * $mobile-factor;
      height: $buttons-block-height * $mobile-factor;
    }
  }
}

.choose-list-button {
  color: white;
  background-color: $shade-color;
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  border-top-left-radius: $add-to-list-button-border-radius;
  border-bottom-left-radius: $add-to-list-button-border-radius;

  &__arrow {
    background-image: url(/static/img/down-arrow.svg);
    @include square($size: 2rem);
    @include center-background;
  }

  &_active {
    width: 100%;
    border-top-right-radius: $add-to-list-button-border-radius;
    border-bottom-right-radius: $add-to-list-button-border-radius;
  }
}

.add-to-list-button {
  border-top-right-radius: $add-to-list-button-border-radius;
  border-bottom-right-radius: $add-to-list-button-border-radius;
  width: 40%;
  @include gradient;

  &_hidden {
    display: none;
  }
}

.choose-list-block {
  width: $choose-list-block-width;
  position: absolute;
  left: - $choose-list-block-padding;
  background-color: $submenu-bg-color;
  border-radius: 1rem;
  overflow: hidden;
  max-height: 30rem;
  @include submenu;

  &_visible {
    visibility: visible;
    opacity: 1;
  }

  &__scroll-block {
    width: 100%;
    overflow-y: scroll;
    //padding: 0 $choose-list-block-padding;
    //padding-right: 17px;
    padding-left: $choose-list-block-padding;
    //box-sizing: content-box;
    margin: 3rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
  }

  &__playlist {
    font-size: inherit;

    &_active {
      color: $text-bright-color;
    }
  }

  &__playlist-name {
    cursor: pointer;
  }
}

.result-message {
  color: white;
  margin-top: 2rem;
  @include submenu;
  @include media('desktop') {
    font-size: 2rem;
  }
  @include media('mobile') {
    font-size: 2rem * $mobile-factor;
  }

  &_visible {
    visibility: visible;
    opacity: 1;
  }
}

.message {
  color: $path-color;
}
