@import '~css/variables';

.list-page {
  padding-top: $navbar-height;
  font-family: OpenSans-Regular, sans-serif;
}

.list-header {
  margin-bottom: 6rem;
  margin-top: 7rem;

  &__path {
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
  }

  &__headline {
    font-family: Montserrat-Regular, sans-serif;
    font-size: 5rem;
  }
}
