@import '~css/variables';
@import '~css/mediaQueries';

.list-page {
  font-family: OpenSans-Regular, sans-serif;
  @include media('desktop') {
    padding-top: $navbar-height;
  }
  @include media('mobile') {
    padding-top: $navbar-height * $mobile-factor;
  }
}

.list-header {
  margin-bottom: 6rem;
  margin-top: 7rem;

  &__path {
    margin-bottom: 1.5rem;
    @include media('desktop') {
      font-size: 1.7rem;
    }
    @include media('mobile') {
      font-size: 1.7rem * $mobile-factor;
    }
  }

  &__headline {
    font-family: Montserrat-Regular, sans-serif;
    @include media('desktop') {
      font-size: 5rem;
    }
    @include media('mobile') {
      font-size: 5rem * $mobile-factor;
    }
  }
}
