@import 'css/variables';
@import 'css/mediaQueries';

.series-card {
  cursor: pointer;
  display: inline-block;
  @include media('6cards') {
    width: calc(16.6% - #{$padding-between-cards});
    margin-left: 6 / 5 * $padding-between-cards;
  }
  @include media('5cards') {
    width: calc(20% - #{$padding-between-cards});
    margin-left: 5 / 4 * $padding-between-cards;
  }
  @include media('4cards') {
    width: calc(25% - #{$padding-between-cards});
    margin-left: 4 / 3 * $padding-between-cards;
  }
  @include media('3cards') {
    width: calc(33.3% - #{$padding-between-cards});
    margin-left: 3 / 2 * $padding-between-cards;
  }
  @include media('2cards') {
    width: calc(50% - #{$padding-between-cards});
    margin-left: 2 * $padding-between-cards;
  }

  &:nth-child(6n+1) {
    @include media('6cards') {
      margin-left: 0;
    }
  }

  &:nth-child(5n+1) {
    @include media('5cards') {
      margin-left: 0;
    }
  }

  &:nth-child(4n+1) {
    @include media('4cards') {
      margin-left: 0;
    }
  }

  &:nth-child(3n+1) {
    @include media('3cards') {
      margin-left: 0;
    }
  }

  &:nth-child(2n+1) {
    @include media('2cards') {
      margin-left: 0;
    }
  }


  &__image {
    position: relative;
    margin-bottom: 2rem;
    width: 100%;
    padding-bottom: 150%;
    border-radius: 1.7rem;
    box-shadow: $series-card-shadow;
    background: no-repeat center 0 / cover;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.02);
      transform-origin: 50% 100%;
    }
  }

  &__image:hover &__age-limit {
    visibility: hidden;
  }

  &__image:hover > &__gradient {
    visibility: visible;
  }

  &__image:hover > &__content {
    visibility: visible;
  }

  &__gradient {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(to bottom, rgba(22, 25, 29, 0), #16191D);
  }

  &__content {
    visibility: hidden;
    position: absolute;
    bottom: 2rem;
    left: 2.5rem;
    font-family: OpenSans-Regular, sans-serif;
    font-size: 1.7rem;
    line-height: 2.7rem;
    color: $card-content-color;
  }

  &__name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: $text-color;
  }

  &__age-limit {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 4rem;
    height: 2.7rem;
    border-radius: 0.5rem;
    background-color: $age-limit-background;
    font-size: 1.5rem;
    color: $age-limit-color;
    @include center-position;
  }
}
