@import "../../../css/variables";

.index-page {
  padding-top: $navbar-height;
}

.index-header {
  margin-top: 80px;
  margin-bottom: 60px;
}

.index-header__path {
  font-size: 16px;
  margin-bottom: 2 * $padding-between-rows;
}

.index-header__headline {
  font-size: 45px;
  font-family: 'Montserrat-Regular', sans-serif;
}

.filters-block {
  display: flex;
  margin-bottom: 40px;
}

.filter-button {
  display: flex;
  justify-content: space-between;
  width: 250px;
  font-size: 16px;
  border: 2px solid $path-color;
  border-radius: 15px;
  padding: 0.6em 1em;
  margin-right: 30px;
  cursor: pointer;
}

.filter-button:hover {
  border-color: $filter-button-border-hover;
}

.filter-button:hover .filter-button__filter-value {
  color: $filter-button-border-hover;
}

.filter-button:hover .filter-button__arrow {
  background-image: url(/static/img/down-arrow-active.svg);
}

.filter-button__filter-value {
  padding-right: 30px;
}

.filter-button__arrow {
  height: 20px;
  width: 20px;
  background-size: cover;
  background-position: center;
  background-image: url(/static/img/down-arrow.svg);

}

.series-block {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.series-card {
  margin-right: auto;
  margin-bottom: 60px;
  padding-right: 20px;
  display: block;
  cursor: pointer;
}

.series-card__image {
  width: 275px;
  height: 412px;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.series-card__name {
  font-size: 18px;
  color: $text-main-color;
}

.series-card__age-limit {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: $age-limit-color;
  background-color: $age-limit-background;
  border-radius: 2px;
  font-size: 14px;
  text-align: center;
  height: 25px;
  width: 35px;
}
