@import 'css/mixins';

.user-info-wrapper {
  display: flex;
  margin-top: 128px;
  justify-content: center;
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (max-width: 700px) {
    width: 90%;
  }
  @media (min-width: 700px) and (max-width: 1200px) {
    width: 50%;
  }
  @media (min-width: 1200px) {
    width: 36%;
  }
}

.user-avatar {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 48vh;
  background: no-repeat center 0 / cover;
  border-radius: 24px;

  &__shade {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, $bg-color, rgba($bg-color, 0));
  }

  &__name {
    font-family: Montserrat-Medium;
    font-weight: bold;
    font-size: 1.7em;
    position: absolute;
    bottom: 36px;
    text-transform: uppercase;
  }
}

.user-actions {
  display: flex;
  width: 50%;
  height: 64px;
  background-color: rgba(black, 0.2);
  border-radius: 0 0 24px 24px;

  &-gear {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    &__svg {
      fill: $text-bright-color;
      @include transformScale;
    }
  }

  &-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    &__svg {
      fill: $text-bright-color;
      @include transformScale;
    }
  }
}
