<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Kinopoisk</title>
    <link href="static/css/reset.css" rel="stylesheet">
    <link href="static/css/main.css" rel="stylesheet">
    <link href="static/css/page_header.css" rel="stylesheet">
    <link href="static/css/index_page.css" rel="stylesheet">
</head>
<body>
<header class="page-header">
    <div class="page-header__left-side">
        <a class="page-header__logo" href="#">Кинопоиск</a>
        <a class="page-header__link" href="#">Сериалы</a>
    </div>

    <div class="page-header__right-side">
       <form class="page-header__search-form">
        <input class="page-header__search-input" type="search" placeholder="Поиск">
        <button class="page-header__search-button" type="submit">
            <img class="page-header__search-icon" src="static/images/search.svg">
        </button>
    </form>
    <a class="page-header__link" href="#">Профиль</a>
    </div>

</header>

<div class="index-page">
    <p class="index-page__headline">Сериалы</p>

    <div class="filters-block">
        <div class="filter-button">
            <span class="filter-button__filter-value">Все жанры</span>
            <img class="filter-button__arrow" src="static/images/down-arrow.svg">
        </div>

        <div class="filter-button">
            <span class="filter-button__filter-value">Все страны</span>
            <img class="filter-button__arrow" src="static/images/down-arrow.svg">
        </div>

        <div class="filter-button">
            <span class="filter-button__filter-value">По популярности</span>
            <img class="filter-button__arrow" src="static/images/down-arrow.svg">
        </div>
    </div>

    <div class="series-block">
        <a class="series-card">
            <div class="series-card__image series-card__image_1">
                <span class="series-card__age-limit">16+</span>
            </div>
            <span class="series-card__name">Лучшие в Лос-Анджелесе</span>
        </a>

        <a class="series-card">
            <div class="series-card__image series-card__image_2">
                <span class="series-card__age-limit">18+</span>
            </div>
            <span class="series-card__name">Навстречу тьме</span>
        </a>

        <a class="series-card">
            <div class="series-card__image series-card__image_3">
                <span class="series-card__age-limit">16+</span>
            </div>
            <span class="series-card__name">Столкновение</span>
        </a>

        <a class="series-card">
            <div class="series-card__image series-card__image_4">
                <span class="series-card__age-limit">18+</span>
            </div>
            <span class="series-card__name">Триггер</span>
        </a>

        <a class="series-card">
            <div class="series-card__image series-card__image_1">
                <span class="series-card__age-limit">16+</span>
            </div>
            <span class="series-card__name">Лучшие в Лос-Анджелесе</span>
        </a>

        <a class="series-card">
            <div class="series-card__image series-card__image_2">
                <span class="series-card__age-limit">18+</span>
            </div>
            <span class="series-card__name">Навстречу тьме</span>
        </a>

        <a class="series-card">
            <div class="series-card__image series-card__image_3">
                <span class="series-card__age-limit">16+</span>
            </div>
            <span class="series-card__name">Столкновение</span>
        </a>

        <a class="series-card">
            <div class="series-card__image series-card__image_4">
                <span class="series-card__age-limit">18+</span>
            </div>
            <span class="series-card__name">Триггер</span>
        </a>
    </div>
</div>
</body>
</html>
