<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link href="static/css/reset.css" rel="stylesheet">
    <link href="static/css/main.css" rel="stylesheet">
    <link href="static/css/auth_page.css" rel="stylesheet">
</head>
<body>
<div class="auth-page">
    <form class="auth-form" novalidate>
        <h1 class="auth-form__headline">ВХОД</h1>

        <label class="auth-form__label" for="login">Логин</label>
        <input class="auth-form__input auth-form__input_login" type="text" id="login" minlength="4" maxlength="15"
               autofocus required>
        <span class="border"></span>
        <div class="auth-form__error" id="login_error">Error</div>

        <label class="auth-form__label" for="password">Пароль</label>
        <input class="auth-form__input auth-form__input_password" type="password" id="password" minlength="4"
               maxlength="15" required>
        <span class="border"></span>
        <div class="auth-form__error" id="password_error">Error</div>

        <button class="auth-form__button auth-form__button_login" type="submit">Войти</button>
    </form>
</div>

<script src="static/js/validation.js" type="text/javascript"></script>
</body>
</html>
