<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Movie page</title>
    <link href="static/css/movie_page.css" rel="stylesheet">
</head>
<body>
    <div class="movie">
        <div class="movie-bg">
            <img class="movie-bg__image" src="static/img/brigada.jpg">
            <div class="movie-bg__shade"></div>
            <div class="movie-header">
                <div class="movie-header__rel">
                    <div class="movie-header__rel_item">
                        <a class="movie-header__rel_href">Сериалы</a>
                        /
                    </div>
                    <div class="movie-header__rel_item">
                        <a class="movie-header__rel_href">Боевики</a>
                        /
                    </div>
                    <div class="movie-header__rel_item">
                        Бригада
                    </div>
                </div>
                <div class="movie-header__name">БРИГАДА</div>
                <div class="movie-header__original_name">BRIGADA</div>
            </div>
        </div>
        <div class="movie-content">
            <div class="movie-content__description">
                Российский криминальный телесериал 2002 года.
                Сериал состоит из 15 серий, охватывающих события с 1989 по 2000 годы.
                В центре сюжета стоит история четырёх друзей, объединившихся в преступную группировку,
                    лидером которой стал Александр Белов (Саша Белый). Телесериал снят кинокомпанией «Аватар фильм».
                    Фильм стал режиссёрским дебютом Алексея Сидорова и принёс широкую известность исполнителям главных
                    ролей — Сергею Безрукову, Андрею Панину и Екатерине Гусевой, а также Дмитрию Дюжеву,
                    Владимиру Вдовиченкову и Павлу Майкову. Несколько ролей второго плана в фильме исполнили «звёзды»
                    старшего поколения актёров (Валентина Теличкина, Николай Ерёменко-младший (последняя роль в кино),
                    Виктор Павлов, Александр Белявский и др).
                    «Бригада» позиционируется как «Российская гангстерская сага».
                    По словам режиссёра Алексея Сидорова, ориентиром для него служили такие классические фильмы,
                    как «Крёстный отец» и «Однажды в Америке», но в первую очередь — «Лицо со шрамом» 1932 года.
            </div>
            <div class="movie-content__data">
                <div class="movie-content__data_title">Режиссер:</div>
                <div class="movie-content__data_content">Алексей Сидоров</div>
                <div class="movie-content__data_title">В ролях:</div>
                <div class="movie-content__data_content">
                    Сергей Безруков,
                    Дмитрий Дюжев,
                    Павел Майков,
                    Владимир Вдовиченков,
                    Екатерина Гусева,
                    Андрей Панин
                </div>
                <div class="movie-content__data_title">Страна:</div>
                <div class="movie-content__data_content">Росссия</div>
            </div>
        </div>
    </div>
</body>
</html>