<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Profile page</title>
    <link rel="icon" href="static/images/favicon-play.ico">
    <link href="static/css/style.css" rel="stylesheet">
</head>
<body>
<div class="profile-page">
    <h1 class="profile-page__headline">Профиль</h1>
    <div class="profile-page__profile-block">
        <img class="profile-page__avatar" src="static/images/avatar.jpg">
        <div class="profile-page__profile-info">
            <span class="profile-page__login">AliceSitedge</span>
            <a href="#">
                <img src="static/images/pencil.svg" height="20">
            </a>
        </div>
    </div>
    <div class="lists-nav">
        <a class="lists-nav__list-link" href="#">Все</a>
        <a class="lists-nav__list-link" href="#">Запланировано</a>
        <a class="lists-nav__list-link" href="#">Смотрю</a>
        <a class="lists-nav__list-link" href="#">Просмотрено</a>
        <a class="lists-nav__list-link" href="#">Брошено</a>
    </div>
</div>
</body>
</html>
