<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Signup page</title>
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
    <main>
        <form class="signup-form">
            <h1 class="signup-form__headline">РЕГИСТРАЦИЯ</h1>

            <label class="signup-form__label" for="login">Логин</label>
            <input class="signup-form__input" type="text" id="login">

            <label class="signup-form__label" for="email">Почта</label>
            <input class="signup-form__input" type="email" id="email">

            <label class="signup-form__label" for="password">Пароль</label>
            <input class="signup-form__input" type="password" id="password">

            <button class="signup-form__button" type="submit">Зарегистрироваться</button>
        </form>
    </main>
</body>
</html>