@font-face {
  font-family: 'OpenSans-Regular';
  src: url('/static/fonts/OpenSans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('/static/fonts/OpenSans/OpenSans-SemiBold.ttf');
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('/static/fonts/OpenSans/OpenSans-Bold.ttf');
}
